$bg: #000000;
$fg: #F5F5F5;
$color0: #000000; 
$color1: #DE44AB;
$color2: #B133DB;
$color3: #DF48AA;
$color4: #E25AA9;
$color5: #E362AA;
$color6: #E66FE6;
$color7: #E9E8E9;
$color8: #A3A2A3;
$color9: #ED96D0;
$color10: #D67CE8; 
$color11: #ED9BD2;
$color12: #F2B5D8;
$color13: #F4C2DF;
$color14: #F7CFE3;
$color15: #E9E8E9;
