$bg: #0D070A;
$fg: #E2F1F8;
$color0: #373335; 
$color1: #97161B;
$color2: #AA3F02;
$color3: #1A5F7E;
$color4: #3B2284;
$color5: #995426;
$color6: #2785B0;
$color7: #CEE3EC;
$color8: #909FA5;
$color9: #C91D23;
$color10: #E35403; 
$color11: #237FA8;
$color12: #4E2EB0;
$color13: #CC6F33;
$color14: #34B1EA;
$color15: #CEE3EC;
