$bg: #0D0A0A;
$fg: #F5F3F3;
$color0: #0D0A0A; 
$color1: #C35222;
$color2: #DA2E37;
$color3: #DE4447;
$color4: #DC4238;
$color5: #E66F70;
$color6: #E56B6C;
$color7: #E9E6E6;
$color8: #A3A1A1;
$color9: #E07C52;
$color10: #E87C82; 
$color11: #ED969A;
$color12: #EA8E8A;
$color13: #F7D3D4;
$color14: #F6CACB;
$color15: #E9E6E6;
