* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
  background-color: #3a3a3a;
  color: #b0b4bc;
  padding: 5px;
  font-family: JetBrainsMono Nerd Font;
  border-radius: 0px 0px 5px 5px
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label-ram {
  font-size: large;
}

/* All workspaces possible status*/
._0 , ._01, ._02, ._03, ._04, ._05, ._06, ._07, ._08, ._09
._011, ._022, ._033, ._044, ._055, ._066, ._077, ._088, ._099{
  margin: 0px 0px 0px 0px;
}

/* Unoccupied */
._0 {
	color: #606060;
}

/* Occupied */
._01, ._02, ._03, ._04, ._05, ._06, ._07, ._08, ._09 {
	color:#959595;
}


/* Focused */
._011, ._022, ._033, ._044, ._055, ._066, ._077, ._088, ._099{
	color: #000000;
	font-weight:bold;
}
