[Unit]
Description=Dunst Notification daemon
Documentation=man:dunst(1)

[Service]
Type=simple
ExecStart=%h/.local/bin/notification-daemon
ExecStartPost=notify-send "buenas" "tremendo gallote"

[Install]
WantedBy=graphical-session.target
