@import '../../.cache/wal/colors-waybar.css';

/*Defaults + main container{{{*/
body,
#waybar,
.main-container {
  font-family: "iMWrittingMono Nerd Font Mono",  sans-serif; 

  /* Border */
  border: 3px solid transparent;
  /* border-radius: 30px 10px 10px 30px; */
  border-image: linear-gradient(97deg, @color5, @color3, @color1) 30%;

  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.5s ease-in-out;
}

/*
#waybar:hover,
.main-container:hover {
  background-color: rgba(0, 0, 0, 0.9);  *//* Slightly darker background on hover *//*
}
*/


window#waybar.hidden {
  opacity: 0.2;
}
/*}}}*/

/*Hover effects {{{*/
/*

This shit does not work until #1120(https://github.com/Alexays/Waybar/pull/1120) is yet again merged

#custom-pacman:hover,
#custom-power:hover,
#clock:hover {
  transition: all 0.3s ease-in-out;
  background: @background;
  color: @color15;
}
*/
/*}}}*/

#workspaces /*{{{*/{
  border-width: 0;
  background: transparent;
  font-weight: bold;
  font-style: normal;
  opacity: 0.8;
  font-size: 20px;
  color: @color7;
}
#workspaces button /*{{{*/ {
  color: @color2;
  background: transparent;
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
}

#workspaces button.active {
  background-color: @color2;
  color: @color13;
  opacity: 0.9;
  margin: 8px;
  border-radius: 5px;
}
#workspaces button:hover {
  opacity: 0.8;
  margin-right: 4px;
  margin-left: 4px;
  color: @color15;
}
/*}}}*/
/*}}}*/

/*Tray{{{*/
#tray {
  margin-top: 10px;
}
/*}}}*/

/*Battery{{{*/
#battery {
  border-width: 0;
  color:@color10;
  font-size:16px
}
#battery.warning{
  color:@color14
}
#battery.critical{
  background-color: red;
  color:@color15
}
/*}}}*/

/*Custom + Clock{{{*/
#custom-pacman {
  border-width: 0;
  color: @color11;
  font-size: 22px;

  margin-top: 15px;
  margin-bottom: 0px;
}

#custom-power {
  border-width: 0;
  margin-bottom: 10px;
  color: @color6;
  font-size: 30px;
}

#clock{
  color: @color10;
  font-size: 16px;
  border-width: 0;
  margin-top: 5px;
}
/*}}}*/

/*Audio {{{*/
/*
#pulseaudio *//*{{{*//* {
  color: @color10;
  font-size: 24px;
  border-width: 0;
  padding-left: 11px;
  padding-right: 2px;
}

#pulseaudio.muted {
  background-color: @color11;
  color: @color1;
}
*/
/*}}}*/
#wireplumber /*{{{*/{
  color: @color10;
  font-size: 16px;
  margin-bottom: 0px;
  margin-top: 0px;
}
#wireplumber.muted {
  background-color: @color11;
  color: @color1;
}
/*}}}*/
/*}}}*/

#network /*{{{*/ {
  color: @color10;
  font-size: 24px;
  padding-right: 4px;
  border-width: 0;
}
#network.ethernet { 
  border-width: 0;
}
#network.wifi {
  border-width: 0;
}
/*}}}*/

/*Bluetooth{{{*/
/*
#bluetooth.on,
#bluetooth.connected {
  background-color: transparent;
  font-size: 16px;
  color: @color11;
  opacity: 0.8;
  padding: 0px;
  font-size: 24px;
  border-width: 0;
}
#bluetooth.off {
  background-color: @color5;
}
*/
/*}}}*/
